<a href="https://colab.research.google.com/github/romulokps/apoiasus/blob/master/apoiasusMAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#conectar com github
#site = https://sgtes.unasus.gov.br/apoiasus/login/listadevagas.asp
path = 'https://sgtes.unasus.gov.br/apoiasus/login/listadevagas.asp'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#importa dados
import pandas as pd
url ='https://sgtes.unasus.gov.br/apoiasus/login/listadevagas.asp'
tables = pd.read_html(url) # Returns list of all tables on page
tb = tables[0] # Select table of interest

#importa cidades
cidades = pd.read_csv('https://github.com/romulokps/apoiasus/raw/master/populacaoBR2.csv')

     UF           Município  Medicina  Enfermagem  Farmácia  Fisioterapia  ibge
0    AC         Mâncio Lima         2           8         0             0     0
1    AL  Santana do Ipanema         2           0         0             0     0
2    BA               Abaré         3           0         0             0     0
3    BA            Amargosa         0           4         2             0     0
4    BA           Barreiras         0           3         0             6     0
..   ..                 ...       ...         ...       ...           ...   ...
328  SP          São Carlos         2           0         0             0     0
329  SP           São Paulo         2           0         1             0     0
330  SP             Tabapuã         3           0         0             0     0
331  SP             Taubaté        14           6         0             0     0
332  SP       Tupi Paulista         3           0         0             0     0

[333 rows x 7 columns]

In [ ]:
tb["ibge"] = 0

In [ ]:
tb["ibge"] =

      Unnamed: 0   ibgeID                 cidade estado      pop
0              2  1100015  Alta Floresta D'Oeste     RO    22945
1              3  1100023              Ariquemes     RO   107863
2              4  1100031                 Cabixi     RO     5312
3              5  1100049                 Cacoal     RO    85359
4              6  1100056             Cerejeiras     RO    16323
...          ...      ...                    ...    ...      ...
5565        5567  5222005             Vianópolis     GO    13863
5566        5568  5222054         Vicentinópolis     GO     8743
5567        5569  5222203               Vila Boa     GO     6171
5568        5570  5222302          Vila Propício     GO     5821
5569        5571  5300108               Brasília     DF  3015268

[5570 rows x 5 columns]

In [35]:
tb['ibge'] = np.where(tb['UF'] == cidades['estado'], 'True', 'False')
tb

ValueError: ignored