<a href="https://colab.research.google.com/github/romulokps/apoiasus/blob/master/apoiasusMAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#conectar com github
#site = https://sgtes.unasus.gov.br/apoiasus/login/listadevagas.asp
path = 'https://sgtes.unasus.gov.br/apoiasus/login/listadevagas.asp'

In [ ]:
import pandas as pd
import numpy as np

In [37]:
#importa dados
import pandas as pd
url ='https://sgtes.unasus.gov.br/apoiasus/login/listadevagas.asp'
tables = pd.read_html(url) # Returns list of all tables on page
tb = tables[0] # Select table of interest

#importa cidades
cidades = pd.read_csv('https://github.com/romulokps/apoiasus/raw/master/populacaoBR2.csv')

In [38]:
df = pd.merge(tb, cidades, left_on = ['UF','Município'], right_on = ['estado','cidade'])
df

     UF           Município  Medicina  ...              cidade  estado       pop
0    AC         Mâncio Lima         2  ...         Mâncio Lima      AC     18977
1    AL  Santana do Ipanema         2  ...  Santana do Ipanema      AL     47654
2    BA               Abaré         3  ...               Abaré      BA     20086
3    BA            Amargosa         0  ...            Amargosa      BA     37241
4    BA           Barreiras         0  ...           Barreiras      BA    155439
..   ..                 ...       ...  ...                 ...     ...       ...
324  SP          São Carlos         2  ...          São Carlos      SP    251983
325  SP           São Paulo         2  ...           São Paulo      SP  12252023
326  SP             Tabapuã         3  ...             Tabapuã      SP     12407
327  SP             Taubaté        14  ...             Taubaté      SP    314924
328  SP       Tupi Paulista         3  ...       Tupi Paulista      SP     15495

[329 rows x 11 columns]

     UF           Município  Medicina  ...              cidade  estado       pop
0    AC         Mâncio Lima         2  ...         Mâncio Lima      AC     18977
1    AL  Santana do Ipanema         2  ...  Santana do Ipanema      AL     47654
2    BA               Abaré         3  ...               Abaré      BA     20086
3    BA            Amargosa         0  ...            Amargosa      BA     37241
4    BA           Barreiras         0  ...           Barreiras      BA    155439
..   ..                 ...       ...  ...                 ...     ...       ...
324  SP          São Carlos         2  ...          São Carlos      SP    251983
325  SP           São Paulo         2  ...           São Paulo      SP  12252023
326  SP             Tabapuã         3  ...             Tabapuã      SP     12407
327  SP             Taubaté        14  ...             Taubaté      SP    314924
328  SP       Tupi Paulista         3  ...       Tupi Paulista      SP     15495

[329 rows x 11 columns]